{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4">
    <div class="position-float" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic"><strong>About</strong></h4>
          <p class="mb-0">I am Satvik Vashisht, a web developer, competitive progrmmer, technical writer and story writer</p>
          <a href="https://morning-coast-06742.herokuapp.com/" class="btn btn-primary mt-3">Know More</a>
        </div>
</div>

{% endblock sidebar %}